.films {
  height: 100px;
  width: 95%;
  margin: 40px;
  font-size: 80px;
  background-color: #98b3ca;
  display: flex;
  justify-content: center;
  color: #0a0f35;
  font-family: 'Franklin Gothic Medium';
  border-radius: 40px;
}

.table {
  width: 95%;
  margin: 50px;
  background-color: #d3e3eb;
  border-width: 60px;
  font-family: Cambria;
  color: #0a0f35;
}

td, th {
  letter-spacing: 1px;
  border-width: 3px;
  border-color: #68879b;
  border-style: ridge double;
  padding: 5px;
}
